.container-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-color: teal;
    margin: auto;
}

.container-home h1{
    font-size: 4em;
    color: white;
}