*{
    padding: 0;
    margin: 0;
}

.container-text{
    margin: auto;
    background-color: teal;
    min-height: calc(100vh - 200px);
}

li{
    list-style-type: none;
}

.text-h1{
    font-size: 2.0em;
    margin-bottom: 20px;
}

.container-router{
    padding: 20px;
}

@media (min-width: 580px) {
    .container-text{
        display: flex;
        justify-content: flex-start;
    }

    .container-navbar{
        width: 20%;
        background-color: teal
    }

    .container-router{
        background-color: teal;
        width: 60%;
    }
}