* {
  padding: 0;
  margin: 0;
}

.container-text {
  margin: auto;
  background-color: teal;
  min-height: calc(100vh - 200px);
}

li {
  list-style-type: none;
}

.text-h1 {
  font-size: 2em;
  margin-bottom: 20px;
}



@media (min-width: 576px) {
  .container-text {
    display: flex;
    justify-content: flex-start;
  }

  .container-navbar {
    width: 20%;
    background-color: teal;
    padding: 60px 0;
  }

  .container-router {
    background-color: teal;
    width: 60%;
    padding: 20px;
  }
}
