.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 259px);
    background-color: teal;
    margin: auto;
}

.container-home h1{
    font-size: 4em;
    color: white;
}