a{
  text-decoration: none;
}

.nav-container{
  background-color: steelblue;
  margin: auto;
  min-height: 100px;
}

.nav-logo-text {
  display: flex;
  margin: 0 0 0 20px;
  padding: 20px 0;
  color: white;
}

.list-nav-main{
  margin-left: 20px;
}

.list-nav-main p{
  color: white;
}

@media (min-width: 576px) {

  .list-nav-main{
    margin-right: 30px;
  }

.list-nav-main li{
  min-width: 100px;
  justify-content: flex-end;
}

.container-list{
  display: flex;
  justify-content: flex-end;
}
}