a{
  text-decoration: none;
}

.nav-container{
  background-color: rgb(21, 93, 151);
  margin: auto;
  min-height: 100px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  width: 250px;
  margin: 20px 10px;
}

.logo img{
  width: 100%;
}

.list-nav-main{
  margin-left: 20px;
}

.list-nav-main p{
  color: white;
}

@media (min-width: 576px) {

  .list-nav-main{
    margin-right: 30px;
  }

.list-nav-main li{
  min-width: 100px;
  justify-content: flex-end;
}

.container-list{
  display: flex;
  justify-content: flex-end;
}
}